.enlace {
        border: 0;
    padding: 0;
    background-color: transparent;
    color: blue;
    border-bottom: 1px solid blue;
}

div {
    margin: .4em 0;
}

div label {
    width: 25%;
    float: left;
}
