<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${book.name}"></h1>
<p th:text="|Año: ${book.year}|"></p>
<ul>
    <li class="CharacterMovieList" th:each="characterMovie : ${book.characterMovieList}" th:text="|${characterMovie.name}|"></li>
</ul>

<form th:action="|/books/${book.id}|" th:method="delete">
    <button type="submit">Borrar</button>
</form>

<!--<fieldset>
    <legend>Update Movie</legend>
    <form th:action="@{'/books/' + ${id}}" th:method="put">
        <input type="hidden" name="book-id" th:value="${books.id}">

        <label for="name">Title:</label>
        <input type="text" id="name" name="name" th:value="${books.name}" required>
        <br><br>

        <label for="year">year:</label>
        <select name="bookName" id="bookName">
            <option th:each="books : ${booksList}" th:value="${book.name}" th:text="${book.name}">
            </option>
        </select>
        <br><br>

        &lt;!&ndash;<label for="">Actor:</label>
        <select name="actorNameList" id="actorName" multiple>
            <option th:each="actor : ${actorList}" th:value="${actor.name}" th:text="${actor.name}"></option>
        </select>&ndash;&gt;
        <br><br>

        <label for="year">Year:</label>
        <input type="number" id="year" name="year" th:value="${movie.year}" required>
        <br><br>

        <button type="submit">Submit</button>
        <br><br>
    </form>
</fieldset>-->
</body>
</html>