@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background-image: url(../img/background-city.jpg);
    background-size: contain;
    background-position: center;
    height: 100vh;

}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;
    padding: .5em 2em;
}



h1 {
    text-transform: uppercase;
    word-spacing: 15px;
    letter-spacing: 5px;
    top: 0;
    color: #3b5e8e;
    font-family: 'Cambria', Times, serif;
    text-align: center;
    text-shadow: 5px 5px 3px gray;

}


h2 {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 1.2em;
    color: #721b25;
    text-transform: uppercase;
    letter-spacing: 10px;
    border-bottom: .2em solid #6c001d;
}


ul{
    font-size: 1.2em;
    font-family: verdana, sans-serif;
}

header,footer {
    background-color: #a2a2a2;
}

header {
    padding: 8px;
}

footer {
    padding: .1vw;
}

.imagen_datos img {
    width: 15em;
    box-shadow: .3em .3em .3em #333;
}

.imagen_datos {
    margin-left: 15vw;
}

.imagen_datos,.lista_datos {
    display: inline-block;
    vertical-align: middle;
}

.lista_datos li {
    list-style: circle;
}

.lista_experiencia li {
    list-style: square;
    font-weight: bolder;
}

.lista_formacion li {
    list-style-image: url(../img/figma.svg);

}

#pie_pagina {
    text-align: center;
}


