<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Css/stylesBooks.css}">
    <title>Libros</title>
</head>
<body>
<h2>Listado de libros</h2>
<ul>
    <a th:each="book : ${books}" th:href="@{${'/books/' + book.id}}">
        <li th:text="|${book.title} - ${book.author}|">Texto por defecto</li>
    </a>
</ul>
<a th:href="@{/books/addBook}">Añade un libro</a><br /><br />
<img id="meme" th:src="@{/images/meme.jpg}" alt="Meme">
</body>
</html>