p#uno::first-line { 
    font-size:2em; 
}
        
p#dos::first-letter { 
    font-size:5em; 
}

p#tres::before {
    content:’Importante:’; 
}
        
p#cuatro::after { 
	content:’-Gabriel García Márquez-’; 
	font-style: italic; 
}
