//Anidacion

.caja {
    h2 {
        color: black;
        font-family: sans-serif;
    }
    
    p {
        font-family: cursive,sans-serif,monospace;
        text-decoration: underline;
    }
    
    
}