@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background-image: url(../img/background-city.jpg);
    background-size: contain;
    background-position: center;
    height: 100vh;
}


.container{
    
    background-color: rgba(255,255,255,0.8);
    height: 100vh;
    padding: .5em 2em; 
}

header{
    font-size: 1em;
    padding: .5em 0;
    background-color: #ccc;
}

footer{
    background-color: #ccc;
    text-align: center;
    font-family: vedana, sans-serif;
    font-size: .8em;
    padding: 2em;
    font-weight: 700;
}


h1{
    font-family: 'Cambria', Times, serif;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.5em;
    color: #4242a0;
    text-shadow: .1em .1em .2em #333;
}

section{
    margin: 3em 0;
}

section h2{
    font-family: 'Dela Gothic One', Arial , sans-serif;
    font-size: 1.2em;
    letter-spacing: .5em;
    color: #6c001d;
    border-bottom: .2em solid #6c001d;
}

h1, section h2{
    text-transform: uppercase;
}


section li{
    font-family: verdana, sans-serif;
    
}



.lista_datos, .imagen_datos{
    display: inline-block;
    vertical-align: middle;
}

.imagen_datos{
     margin-left: 15vw;
}
    


.imagen_datos img{
    width: 15em;
    box-shadow: .3em .3em .3em #333;
}

.lista_datos li{
    
    list-style: circle;
}

.formacion li{
    list-style-image: url(../img/figma.svg);
    
}

.experiencia li{
    list-style: square;
}











